在现实生活中，借钱进行周转是经常发生的事情。比如说，购房时可以申请房贷，购车时可以申请车贷，以及目前非常火热的P2P融资等都是借贷交易。那么，金融机构会将贷款发放给哪些申请人呢？是按照什么逻辑来发放贷款的呢？在这里将会分析一下，什么样的申请人更容易获得贷款审批。

本次使用的数据，依然来源于Analiytics Vidhya的竞赛题目，这是莫银行采集的房贷申请数据，希望通过本次分析，能够发现银行批准房贷的规律。将数据下载到本地后，首先导入类库，并对读入数据。

In [6]:
import pandas as pd
import numpy as np

# 读入数据
df = pd.read_csv('data/loan.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [7]:
df.shape

(614, 13)

数据集中总共有614条记录，包含13个数据项目。其中Loan_Status是本次借贷申请是否被批准。其他数据项如下：
<table align="left">
    <tr><td>Loan_ID</td><td>唯一的借贷申请编号</td></tr>
    <tr><td>Gender</td><td>性别</td></tr>
    <tr><td>Married</td><td>是否结婚</td></tr>
    <tr><td>Dependents</td><td>需要抚养人的个数</td></tr>
    <tr><td>Education</td><td>申请人的受教育状况</td></tr>
    <tr><td>Self_Employed</td><td>是否是自我雇佣者</td></tr>
    <tr><td>ApplicantIncome</td><td>申请人的收入</td></tr>
    <tr><td>CoapplicantIncome</td><td>共同申请人的收入</td></tr>
    <tr><td>LoanAmount</td><td>申请金额</td></tr>
    <tr><td>Loan_Amount_Term</td><td>偿还周期</td></tr>
    <tr><td>Credit_History</td><td>曾经的信用状况是否符合要求</td></tr>
    <tr><td>Property_Area</td><td>产权所属区域</td></tr>
    <tr><td>Loan_Status</td><td>是否批准该申请</td></tr>
</table>