## 特斯拉股票趋势分析
特斯拉（Tesla）是一家美国的电动车及能源公司，产销电动车、太阳能板、及储能设备，美股代码TSLA。总部位于美国加利福尼亚州硅谷的帕罗奥多（Palo Alto），2003年最早由马丁·艾伯哈德（Martin Eberhard）和马克·塔彭宁（Marc Tarpenning）共同创立，2004年埃隆·马斯克（Elon Musk）进入公司并领导了A轮融资。创始人将公司命名为“特斯拉汽车（Tesla Motors）”，以纪念物理学家尼古拉·特斯拉（Nikola Tesla）。4月21日，摩根大通最新研究报告称，由于来自宝马和奥迪等德国汽车制造商的竞争加剧，特斯拉电动汽车的销量将受严重影响。摩根大通重申其对特斯拉股票的“减持”评级，原因是梅赛德斯奔驰、宝马和奥迪将推出一大批电动汽车。“我很难过地告诉大家，特斯拉已经彻底破产了。”4月1日特斯拉CEO马斯克发布了上述推特，还附上了一张伤心状照片。然而更令人伤心的是，上述愚人节的玩笑或一语成谶。与此同时，特斯拉官方再次宣布将暂停加州佛利蒙的Mode 3组装线4至5天，以提升自动化以此解决导致其多次推迟产量目标的生产瓶颈。事实上，今年2月份，特斯拉Model 3曾于20日至24日期间停产。由于彼时宣称的停产整修后产能翻倍未能实现，所以此次再度宣布停产后，尽管特斯拉CEO马斯克作出了整修后每月产能6000辆的承诺，仍没能阻止公司股票的应声下跌。面对众说纷纭的措辞和潜在的各路竞争对手，TSLA的未来崎岖起伏，那么有可能预测TSLA股票的走势吗？

雅虎财经提供了大量的股价数据，可以使用此数据进行分析，Python中的pandas-datareader包提供了一些列的api可以动态的获取数据。因此，可以使用该包来获取特斯拉的股票数据。在使用之前，首先需要按照pandas-datareader包。在这里使用pip进行安装，命令如下：

<code>pip install pandas-datareader<code>

安装完成后，首先导入需要的类库，并获取数据。

In [11]:
import pandas as pd
import datetime
import pandas_datareader.data as web
import os

# 设定开始，结束日期
start = datetime.datetime(2016, 1, 1)
end = datetime.date.today()

# 获取特斯拉的股票价格数据
filename = 'data/tasl/tasl.csv'
if os.path.exists(filename):
    tsla_prices = pd.read_csv(filename)
else:
    tsla_prices = web.get_data_yahoo('TSLA', start, end)
    tsla_prices.to_csv(filename, index=0)
    
tsla_prices.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-12-31,243.449997,238.369995,238.509995,240.009995,2715000,240.009995
2016-01-04,231.380005,219.000000,230.720001,223.410004,6827100,223.410004
2016-01-05,226.889999,220.000000,226.360001,223.429993,3186800,223.429993
2016-01-06,220.050003,215.979996,220.000000,219.039993,3779100,219.039993
2016-01-07,218.440002,213.669998,214.190002,215.649994,3554300,215.649994

然后，获取股利收入信息，得到也是一个DataFrame，包含action和value两个字断，action表示证券所进行的操作，如派发股利，或股票分割等等，而value则表示操作值。如果，没有数据会返回一个空的DataFrame。

In [12]:
filename = 'data/tasl/tasl_actions.csv'
if os.path.exists(filename):
    tsla_actions = pd.read_csv(filename)
else:
    tsla_actions = web.get_data_yahoo_actions('TSLA', start, end)
    tsla_actions.to_csv(filename, index=0)
    
tsla_actions.head()

Empty DataFrame
Columns: [action, value]
Index: []

可以看到，特斯拉在这个时间段没有任何分红或者拆分信息。因为，这里没有action数据，因此不需要对这两个DataFrame进行合并。如果，需要何必可以使用DataFrame的merge函数，它可以根据一定规则将两个DataFrame变量合并。

<code>prices = pd.merge(tsla_prices, tsla_actions, how='outer', left_index=True, right_index=True)<code>

为了处理的统一，在这里既是没有数据，也将这两个数据集进行合并。

In [15]:
prices = pd.merge(tsla_prices, tsla_actions, how='outer', left_index=True, right_index=True)
prices.head()

,High,Low,Open,Close,Volume,Adj Close,action,value
Date,,,,,,,,
2015-12-31,243.449997,238.369995,238.509995,240.009995,2715000,240.009995,NaN,NaN
2016-01-04,231.380005,219.000000,230.720001,223.410004,6827100,223.410004,NaN,NaN
2016-01-05,226.889999,220.000000,226.360001,223.429993,3186800,223.429993,NaN,NaN
2016-01-06,220.050003,215.979996,220.000000,219.039993,3779100,219.039993,NaN,NaN
2016-01-07,218.440002,213.669998,214.190002,215.649994,3554300,215.649994,NaN,NaN